.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0.5rem 2rem;

  h2 {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
  }
}

.userControls {
  display: flex;
  gap: 24px;

  button {
    border-radius: 4px;
    height: auto;
    padding: 1rem 1.5rem;
  }
}

.avatar {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  gap: 8px;

  img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}
